*{
	margin: 0;
	padding: 0;
}
body{
	min-width: 980px;
	  font-family: "Microsoft YaHei",Arial,Helvetica,sans-serifsans-serif;
}
.w{
	width: 980px;
	margin: 0 auto;
}
.header{
	width: 100%;
	height: 170px;
	background: url(img/d018a3742c508cc379472735bf7d124cc7ae9f13.jpg) no-repeat center -10px;
	  
}
.header .banner{
	height: 42px;
	height: 42px;
    background-color: rgba(0,0,0,0.4);
    color: #222;
}
.header .content{
	height: 42px;
	position: relative;
	
}
.header .content .fl {
	float: left;
	height: 42px;
	font-size: 13px;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
.header .content .fl li{
	height: 42px;
	transition: .15s all;
	float: left;
	text-align: center;
    line-height: 42px;
}
.header .content .fl li a{
	color: #fff;
	padding: 0 14px;
	
}
.header .content .fl li:hover{
	background-color: rgba(255,255,255,0.24);
}
.header .content li.home{
    background-position: -845px -74px;
    background-image: url(img/icons.png);
    background-repeat: no-repeat;
    margin-left: -12px;
    padding: 0 0 0 20px;
}
.header .content .fl li:last-child a{
	position: relative;

}
.header .content .fl .new{
	position: absolute;
    right: -8px;
    color: #f25d8e;
    top: 0px;
  background: url(img/icons.png) no-repeat -851px -412px;
    width: 22px;
    height: 10px;
}
.header .content .fr{
	float: right;
}
.header .content .fr li{
	float: left;
	transition: .15s all;
	font-size: 12px;
	text-align: center;
	line-height: 42px;
}
.header .content .fr li:hover{
		background-color: rgba(255,255,255,0.24);
}
.header .content .fr li a{
	color: #fff;
}
.header .content .fr li.c{
	padding: 0 10px;
}
.header .content .fr li.three{
	width: 1px;
	height: 12px;
	background-color: #fff;
	margin-top:16px;
}
.header .content .fr li.tg{
    width: 58px;
    background: url(img/b-post.png) center center no-repeat;
    height: 48px;
    border-radius: 0 0 5px 5px;
    color: #fff!important;
    position: relative;
}
.header .content .fr li.tg li:hover{
	background-color: #e5e9ef;
}
.header .content .fr li.tg ul{
	position: absolute;
	opacity: 0;
    top: 42px;
    right: 0;
    width: 216px;
    border: 0;
    transition: .2s all;
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    box-shadow: rgba(0,0,0,0.16) 0 2px 4px;
    overflow: hidden;
}
.header .content .fr li.tg:hover ul{
	opacity: 1;
}
.header .content .fr li.tg li{
    text-align: center;
    width: 72px;
    height: 64px;
    transition: .1s;
    float: left;
    font-style: normal;
    font-weight: normal;
}
.header .content .fr li.tg li i{
	display: block;
    width: 20px;
    height: 20px;
     background: url(img/icons.png) no-repeat ;
    margin:10px auto -2px;
}
.header .content .fr li.tg li:first-child i{
    background-position: -471px -919px; 
}
.header .content .fr li.tg li:nth-child(2) i{
    background-position: -471px -982px;
}
.header .content .fr li.tg li:last-child i{
    background-position: -471px -1753px;
}
.header .content .fr li.tg li a{
color: #f25d8e;

}
.content .bili{
	position: absolute;
    width: 220px;
    height: 105px;
    left: 24px;
    top: 55px;
    background: transparent no-repeat left center;
  background-image: url(img/ab1c51161404343df6feaed0a18352f7474c2430.png);
}
.content .search{
	position: absolute;
    top: 112px;
    right: 0;
    width: 350px;
    height: 35px;
}

.content .search a {
	display: inline-block;
	width: 68px;
	height: 35px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.88);
}
.content .search span{
	padding-left: 26px;
    color: #f25d8e;
    line-height: 35px;
    display: inline-block;
    background: url(img/icons.png) -659px -655px no-repeat;
}
.content .search div{
	transition: .15s all;
	height: 35px;
	
}
.content .search a:hover,.content .search .fr:hover{
	background-color: #fff;
}
.content .search .fl{
	float: left;
}
.content .search .fr{
	float: right;
}
.content .search input{
    width: 255px;
    color: #222;
    
  	 border-radius: 5px;
    background-color: rgba(255,255,255,0.88);
    font-size: 12px;
   outline: 0;
   border: 0;
    height: 35px;
    line-height: 35px;
    padding: 0 12px;
}
.content .search button{
	background-position: -718px -720px;
    display: block;
    width: 48px;
   	position: absolute;
   	right: 0;
   	top: 2px;
   	border: 0;
    height: 35px;
    outline: 0;
    background: url(img/icons.png) -653px -720px;
}
.content .search button:hover{
	background-position: -718px -720px;
}
 .bannerr{
  padding: 6px 0;
  position: relative;
  height: 51px;
 }

 .bannerr li.e{
 	list-style: none;
 	float: left;
 	font-size: 14px;
 	
 	padding: 0 11px;
 	padding-top: 23px;
 	height:27px;

 	position: relative;
 }
 .bannerr li.one:first-child{
	background: url(img/icons.png) -658px -1170px no-repeat;
	padding-right: 12px;
	padding-left: 0;
}
.bannerr ul li ul {
	background-color: #fff;
	display: none;
	position: absolute;
	top: 50px;
	left: 0;
	z-index: 3;
}
.bannerr ul li:hover ul{
	display: block;
}
.bannerr ul li ul li {
	position: relative;
    font-size: 12px;
    line-height: 20px;
 	width: 150px;
    text-align: left;
    transition: .2s all;
}
.bannerr ul li ul li a{
	 padding: 7px 15px 5px 25px;
    margin-right: 10px;
    background: url(img/icons2.png) no-repeat 12px -1613px;
   
   
    transition: .2s all; 
    overflow: hidden;
    position: relative;
    left: 0;
    color: #222;
}
.bannerr ul li ul li:hover{
	    background-color: #e5e9ef;
}
.bannerr ul li ul li a:hover{
	left:4px;
}
.bannerr ul li ul li:hover span{
	right:-5px;
	opacity: 1;
}
.bannerr ul li ul li span{
	background: url(img/icons2.png) no-repeat 0 -1581px;
    width: 15px;
    height: 18px;
    display: block;
    opacity: 0;
    position: absolute;
    right: -100px;
    top: 5px;
    transition: .2s all;
   
}
.bannerr ul li a{
	color: #222;
}
.bannerr>li:last-child{
	margin-right: 20px;
}
.bannerr .c{
	position: absolute;
    top: 8px;
    left: 11px;
    height: 14px;
    width: 24px;
    background-color: #ffafc9;
    text-align: center;
        padding: 1px 3px;
        font-size: 11px;
        border-radius:4px;
		color: #fff;
		    font-family: Calibri,Arial,Helvetica,sans-serifsans-serif;
}
 .bannerr div{
 	margin-right: 16px;
 	float: left;
 }
 .bannerr div.one a{

 	padding-left: 22px;
    display: inline-block;
    height: 49px;
    line-height: 49px;
    font-size: 16px;
    background: url(img/icons.png) -664px -904px no-repeat;
 }
 .bannerr div.two a{
 padding-left: 22px;
      display: inline-block;
    height: 49px;
   line-height: 49px;
    font-size: 16px;
    margin-left: 10px;
    background: url(img/icons.png) -664px -904px no-repeat;
 }
 .bannerr .menu-r{
 	margin-right: 0;
 	position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    padding: 6px 0;
 }

  .bannerr .menu-r a.two{
 	width: 58px;
    height: 44px;
  background: url(img/app-link.png) center center no-repeat;
    display: inline-block;
    margin: 3px 0px;

  }